.headerTile
{
	background-color: #1c74b2;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	text-align: center;
	color: #ddd;
	font-size: 21px;
	letter-spacing: 5px;
	border-radius: 15px;
	overflow: hidden;
}

.zajecia
{
	height: auto;
	padding: 15px 15px 15px 15px;
	background-color: #222930;
	border-radius: 15px;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 400;
	opacity:0.75;
	transition: all 0.5s ease-in-out;
}

zajecia:hover
{
	opacity:1;
}

.zajecia_img
{
	overflow: hidden;
	border-radius: 15px;
}

.zajecia_inner:hover
{
	cursor: pointer;
}

.overlay
{
	position: relative;
}

.overlay img
{	
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
}

.overlay .zajecia_img_info
{	
	position: absolute;
	display: block;
	background-color: #111;
	bottom: 0px;
	height: auto;
	left: 0px;
	opacity: 0;
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	transition: all 0.5s ease-in-out;
}


.zajecia_img:hover .zajecia_img_info
{	
	opacity: 0.8;
}

.zajecia_img:hover .zajecia_img img
{	
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.zajecia_opis
{	
	border-radius: 5px;
	font-size: 15px;
	text-align: justify;
}

.zajecia_opis h2
{
	font-size: 30px;
	text-align: center;
}

.zajecia_opis p
{	
	display: block;
	font-size: 15px;
	height: 135px;
	overflow: hidden;
	text-align: justify;
}

.zajecia_info{
	font-size: 15px;
	overflow: hidden;
}


.zajecia_info_header
{
	text-align: left;
}

.zajecia_info_content
{
	text-align: right;
	font-style: italic;
}

.overlayToShow
{
	width: 570px;
	height: 352px;
	position: relative;
}

.overlayToShow img
{	
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
}

.singleButtonGrafik
{
	margin: 10px 4px 10px 4px;
	width: 100px;
	height: 30px;
	display: inline-block;
	overflow: hidden;
	text-align: justify;
	border-color: darkred;
	border: 2px;
}

.singleButton
{
	width: 150px;
    display: inline-block;
    float: left;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    transition: all 0.3s ease-in-out;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

